$color_1: #1a1a1a;
$background-color_1: #ffeb3b;

header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $background-color_1;
    color: $color_1;
    padding: 20px;

    .inner {
        display: flex;
        align-items: center;
        max-width: 1400px;
        margin: auto;
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    margin-left: auto;
    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline;
            margin-right: 20px;

            a {                
                color: $color_1;
                font-size: 20px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}